body{
	 background: url("../images/outerspace_landscape.jpeg") no-repeat;
	 background-size: cover;
}

nav{
	height: 50px;
	background: gray;
/*	position: fixed;*/
}
nav div{
	position: relative;
}
nav img{
	border-radius: 50%;
	width: 40px;
	border: 1px solid black;
	margin: 5px 100px;
}

nav ul {
	position: absolute;
	top: 4px;
	left: 150px;
}

nav ul li{
	display: inline-block;
	list-style: none;
}

nav a::after {
	content: " |";
	color: black;
}
